@model IEnumerable<CourseEvaluationSystem.Models.Evaluation>
@{
    ViewData["Title"] = "Kommentarer";
}

<h2>Kommentarer från utvärderingar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Kurs</th>
            <th>Betyg</th>
            <th>Kommentar</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Course?.Title</td>
                <td>@item.Rating</td>
                <td>@item.Comment</td>
                <td>@item.Date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
