@model IEnumerable<CourseEvaluationSystem.Models.Course>

<h2>Kurser</h2>

<p>
    <a asp-action="Create" class="btn btn-success">+ Lägg till ny kurs</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.ID</td>
                <td>@course.Title</td>
            </tr>
        }
    </tbody>
</table>
